---
import { Icon } from "astro-icon/components";
import ProfilePicture from "./ProfilePicture.astro";

interface Props {
  name: string;
  title: string;
  image?: string;
  email?: string;
  phone?: string;
  linkedin?: string;
  text?: string;
}
const { name, title, image, email, phone, linkedin, text } = Astro.props;
---

<div class="bg-container w-full rounded-lg overflow-hidden shadow-root-card">
  <div class="relative w-full">
    <div class="aspect-square">
      <ProfilePicture
        image={image}
        alt={`${name} profile picture`}
        className="w-full h-full object-cover object-top"
      />
    </div>
  </div>

  <div class="px-4 py-6 space-y-3">
    <h2 class="text-4xl leading-tight">{name}</h2>
    <h5 class="text-accent text-3xl">{title}</h5>

    <div class="space-y-2 pl-6 pb-4 text-sm sm:text-lg">
      {
        email && (
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:email"
              class="text-accent flex-shrink-0"
              width="20"
              height="20"
            />
            <a href={`mailto:${email}`} class="text-white truncate">
              {email}
            </a>
          </div>
        )
      }

      {
        phone && (
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:phone"
              class="text-accent flex-shrink-0"
              width="20"
              height="20"
            />
            <a href={`tel:${phone}`} class="truncate">
              {phone}
            </a>
          </div>
        )
      }

      {
        linkedin && (
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:linkedin"
              class="text-accent flex-shrink-0"
              width="20"
              height="20"
            />
            <a
              href={linkedin}
              target="_blank"
              rel="noopener noreferrer"
              class="text-white truncate"
            >
              {name}
            </a>
          </div>
        )
      }
    </div>

    {text && <p class="text-sm leading-relaxed">{text}</p>}
  </div>
</div>
