---
import { Icon } from "astro-icon/components";
import ProfilePicture from "./ProfilePicture.astro";

interface Props {
  name: string;
  title: string;
  image?: string;
  email?: string;
  phone?: string;
  linkedin?: string;
  text?: string;
}
const { name, title, image, email, phone, linkedin, text } = Astro.props;
---

<div
  class="bg-container w-full h-[250px] sm:h-[280px] rounded-lg overflow-hidden shadow-root-card"
>
  <div class="flex items-start h-full">
    <div class="w-[40%] sm:w-[35%] h-full flex-shrink-0">
      <ProfilePicture image={image} alt={`${name} profile picture`} />
    </div>
    <div class="space-y-1 sm:space-y-2 pt-4 sm:pt-6 flex-1 px-2 sm:px-4 min-w-0">
      <h2 class="text-2xl sm:text-3xl">{name}</h2>
      <h5 class="text-accent text-lg sm:text-2xl">
        {title}
      </h5>
      
      {
        email && (
          <div class="flex items-center gap-2 ml-6 text-sm sm:text-base">
            <Icon name="mdi:email" class="text-accent" width="20" height="20" />
            <a href={`mailto:${email}`} class="text-white">
              {email}
            </a>
          </div>
        )
      }

      {
        phone && (
          <div class="flex items-center gap-2 ml-6 text-sm sm:text-base">
            <Icon name="mdi:phone" class="text-accent" width="20" height="20" />
            <span>{phone}</span>
          </div>
        )
      }

      {
        linkedin && (
          <div class="flex items-center gap-2 ml-6 text-sm sm:text-base">
            <Icon
              name="mdi:linkedin"
              class="text-accent"
              width="20"
              height="20"
            />
            <a
              href={linkedin}
              target="_blank"
              rel="noopener noreferrer"
              class="text-white"
            >
              {name}
            </a>
          </div>
        )
      }

      {
        text && (
          <div class="flex items-start gap-2">
            <p>{text}</p>
          </div>
        )
      }
    </div>
  </div>

</div>
