---
interface Props {
  name: string;
  title: string;
  email: string;
  phone: string;
  text: string;
}
const { name, title, email, phone, text } = Astro.props;
---

<div class="bg-container w-full h-full p-6 rounded-lg">
    <h2 class="">
      {name}
    </h2>
    <h5 class="text-accent">
      {title}
    </h5>
    <p class="break-words">
      {email}<br />
      {phone && <>{phone}<br /></>}
      {text}
    </p>
</div>