---
interface Props {
  image: string;
  name: string;
  title: string;
  text: string;
}
const { image, name, title, text } = Astro.props;
---

<div class={`speaker-card relative bg-container rounded-lg overflow-hidden w-[300px] md:w-auto lg:w-auto flex-shrink-0 ${Astro.props.class}`}>
  <img 
    src={image} 
    alt={name} 
    class="w-[300px] h-[300px] md:w-[390px] md:h-[390px] lg:w-[390px] lg:h-[390px] display object-cover mx-auto mb-4 shadow-md scale-100"
  />
  <div class="p-10 -mt-3">
    <h2>
      {name}
    </h2>
    <h5 class="text-accent">
      {title}
    </h5>
  </div>
</div>

<style>
  .speaker-card img {
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
  }

</style>

  <!.speaker-card:hover img {filter: grayscale(0%);}>
  <!"speaker-card relative bg-container rounded-lg overflow-hidden w-[300px] md:w-auto lg:w-auto flex-shrink-0">