---
import { Icon } from "astro-icon/components";
import ProfilePicture from "./ProfilePicture.astro";

interface Props {
  name: string;
  title: string;
  image?: string;
  company?: string;
}
const { name, title, image, company } = Astro.props;
---

<div class="bg-container w-full rounded-lg overflow-hidden shadow-root-card">
  <div class="relative w-full">
    <div class="aspect-square">
      <ProfilePicture
        image={image}
        alt={`${name} profile picture`}
        className="w-full h-full object-cover object-top"
      />
    </div>
  </div>

  <div class="px-4 py-6 space-y-3">
    <h2 class="text-4xl leading-tight">{name}</h2>
    <h5 class="text-accent text-3xl">{title}</h5>

    <div class="space-y-2 pl-6 pb-4 text-md sm:text-lg">
      {company && <p class="leading-relaxed text-md sm:text-lg">{company}</p>}
    </div>
  </div>
</div>

<style>
  img {
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
  }

</style>